/*Fonts Geral*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+Oriya:wght@400..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family:"Merriweather", serif ; /* */
    color:darkslategray ; /* */
    background:rgba(142, 249, 242, 0.555) ; /* */
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(81, 204, 194);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: rgba(21, 138, 132, 0.637);
    transition: all ease-in-out;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 200px;
    border: 3px solid rgb(255, 255, 255);
}
.text-light a {
    font-family: 'Poppins', sans-serif;
    color: rgb(238, 238, 238);
    font-size: 30px;
}

.text-light a:hover {
    color: rgb(255, 254, 254);
    transition: .3s;
}

#header .perfil .social-links i {
    font-size: 21px;
    color: rgb(238, 238, 238);
    background:rgba(32, 137, 128, 0.719);
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}

#header .perfil .social-links i:hover {
    color: rgb(255, 255, 255);
    background: rgba(137, 248, 235, 0.662);
    transition: all 0.3s;
}

/*fim Header*/
#main {
    margin-left: 300px;
}

.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

/*Navigation Menu*/
/*Desktop Navigation*/
.nav-menu{
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    top: 70px;
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: rgb(74, 250, 232);
    padding: 12px 15px;
    margin-bottom: 1px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus {
    font-size: 24px;
    padding-right: 8px;
    color: white;
}

.nav-menu a:hover ,
.nav-menu .active,
.nav-menu .active:focus
.nav-menu li:hover>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: rgb(85, 217, 213);
}

/*Mobile menu*/
.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background: rgba(21, 138, 132, 0.637);
    color: white;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

.mobile-nav-active{
    overflow: hidden;
}

.mobile-nav-active #header{
    left: 0;
}
/* Resulução Mobile*/

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    .container,
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
}
/*Hero*/
#hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/gif\ programação.gif) ;
    background-size: cover;
    background-position: center;
}